@model IEnumerable<Bike_And_Fun_MVC_Proto_III.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Kategorien</h2>

<p>Menü</p>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.catName, "Browse", new { category = category.catName })</li>
    }
</ul>